.advisor_image_para_btn {
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}
.black_img {
  height: 450px;
  position: absolute;
  z-index: 1;
  width: 50%;
}
.advisor_detail {
  position: relative;
  z-index: 50;
  padding: 0 300px 0 0;
  /* display: flex;
   align-items: flex-start;
   flex-direction: column; */
}
.career_home {
  background-color: rgb(242, 232, 228);
  height: 220vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.career_home_top {
  background: #f2ded5;
  width: 99.5vw;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0 250px 0;
}
.career_home_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.career_home_img img {
  width: 438px;
  width: 543px;
}
.career_home__heading_para {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.career_home__heading_para h1 {
  font-size: 40px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 30px;
}
.career_home__heading_para p {
  font-size: 20px;
  color: #2a2a2a;
  line-height: 40px;
  width: 85%;
  text-align: center;
}
.career_home_advisors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 40%;
}
.career_home_advisors h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0;
}
.career_card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.career_card {
  background-color: white;
  margin: 10px;
  width: 266px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.career_card h4,
.career_card p {
  text-align: center;
  margin: 0 10px;
  color: #4a4a4a;
}
.career_card h4 {
  font-size: 26px;
  font-weight: bolder;
}
.career_card p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}
.career_card button {
  width: 170px;
  height: 38px;
  border-radius: 12px;
  color: #db022e;
  border: 1px solid #db022e;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}
.career_card button:hover {
  background-color: #db022e;
  color: white;
}

.view_more .text-decoration-none {
  cursor: pointer;
  color: #db022e;
  font-size: 32px;
  font-weight: 800;
}
.career_home_ad_wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 400px 0 0 0;
}

@media screen and (max-width: 600px) {
  .career_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .career_home_top {
    background: #f2ded5;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .career_home_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .career_home_img img {
    width: 300px;
    height: 300px;
  }
  .career_home__heading_para {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  .career_home__heading_para h1 {
    font-size: 28px;
    margin: 10px 0;
  }
  .career_home__heading_para p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
  }
  .career_home_advisors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    position: static;
  }
  .career_home_advisors h1 {
    font-size: 20px;
    margin: 10px 0;
  }
  .career_card {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 350px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  .card_none{
    display: none;
  }
  .career_card h4 {
    font-size: 20px;
  }
  .career_card p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .career_card button {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
  }
  .view_more .text-decoration-none {
    font-size: 24px;
    font-weight: 600;
  }
  .career_home_ad_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 400px 0 0 0;
  }
}
