.home {
  background-color: rgb(242, 232, 228);
  height: 160vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.home_header_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.calc_form_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dots {
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 1;
}
.s {
  position: absolute;
  right: 2px;
  top: 70px;
  z-index: 0;
}
.uper {
  position: absolute;
  top: 900px;
  right: 0px;
}
.right {
  position: absolute;
  top: 800px;
  right: 0px;
}
.circle {
  position: absolute;
  top: 215px;
  right: 0px;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .home {
    height: 220vh;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home_header_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .calc_form_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .dots {
    display: none;
  }
  .s {
    display: none;
  }
  .uper {
    display: none;
  }
  .right {
    display: none;
  }
  .circle {
    display: none;
  }
}
