.blog_home_wrapper {
  background-color: rgb(242, 232, 228);
  padding: 50px 0 200px 0;
}
.blog_home_heading_para_wrapper {
  margin: auto;
  width: 60%;
  color: #4a4a4a;
}
.blog_home_heading_para_wrapper h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.blog_home_heading_para_wrapper p {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin: 0 0 40px 0;
}

.blog_home_articles_wrapper {
  width: 80%;
  margin: auto;
}
.blog_articles_card {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}
.card_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 40%;
}
.card_image_wrapper img {
  height: 307px;
  width: 490px;
  border-radius: 8px;
}
.card_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 307px;
  height: 100%;
}

.card_content_heading_para {
  padding: 10px 0;
}

.card_content_heading_para h4 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 700;
}

.card_content_heading_para p {
  padding: 10px 0;
  font-size: 22px;
  line-height: 40px;
}
.card_content_bottom {
  display: flex;
  justify-content: space-between;
  width: 70%;
  color: #db022e;
}

.card_content_bottom i {
  margin: 0 10px;
  color: #db022e;
}

.view_more_btn {
  width: 85%;
  margin: auto;
}
.view_more_btn button {
  width: 240px;
  height: 70px;
  border-radius: 8px;
  color: white;
  background-color: #db022e;
  border: 0;
  margin: 10px 0;
  font-size: 28px;
  font-weight: 700;
}
.view_more_btn button i {
  padding: 0;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 600px) {
  .blog_home_wrapper {
    padding: 40px 0 50px 0;
  }
  .blog_home_heading_para_wrapper {
    width: 100%;
  }
  .blog_home_heading_para_wrapper h1 {
    text-align: center;
    font-size: 30px;
  }
  .blog_home_heading_para_wrapper p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 0 20px;
  }

  .blog_home_articles_wrapper {
    width: 100%;
    margin: 0 20px;
  }
  .blog_articles_card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 90%;
  }
  .card_content_wrapper {
    width: 90%;
    height: 100%;
  }

  .card_content_heading_para h4 {
    font-size: 24px;
    text-align: center;
  }

  .card_content_heading_para p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }
  .card_content_bottom {
    width: 100%;
  }

  .card_content_bottom i {
    margin: 0 10px;
    color: #db022e;
  }

  .view_more_btn {
    width: 85%;
    margin: auto;
  }
  .view_more_btn button {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
  }
  .card_image_wrapper img {
    width: 300px;
  }
}
