.image_para {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.image_black {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.heading_para {
  position: absolute;
  z-index: 2;
}
.linkedin_para {
    line-height: 250%;
}
.linkedin_form_wrapper{
    width: 90%;
}
.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}