@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Urbanist:wght@600&display=swap");

.navbar {
  height: 112px;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  font-size: 120%;
}
.navbar_link:hover {
  color: #db022e !important;
}
