.courses_home_wrapper {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.courses_home_heading_para_wrapper {
  width: 50%;
  color: #2a2a2a;
}
.courses_home_heading_para_wrapper h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.courses_home_heading_para_wrapper p {
  text-align: center;
  font-size: 22px;
  line-height: 40px;
}
.courses_home_card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 30px 0;
}

.courses_home_card_item {
  height: 334px;
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 60px rgba(166, 166, 166, 0.25);
  border-radius: 8px;
  justify-content: space-around;
}
.courses_home_card_item img {
  width: 288px;
  height: 224px;
}

.view_more h3,
.view_more i {
  font-size: 32px;
  font-weight: 700;
  color: #db022e;
  padding: 0;
  margin: 10px;
  cursor: pointer;
}
.courses_home_ad_wrapper {
    width: 100%;
}
