.course-wrapper, .card, .courses {
  background: #d9d9d9;
  border: none;
}
.course-image-heading-para {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.btn-white {
    background-color: white;
    color: #db022e;
}
.btn-white:hover {
    color: white;
    background-color: #db022e;
    border: 1px solid white;
}
.course-heading-para{
    padding: 100px;
}
.card-text {
    color: #4A4A4A;

}
.card-title {
    color: #2A2A2A;

}
