.article_ad {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article_ad p {
  margin: 0;
}
.ad {
  height: 126px;
  background-color: #a6a6a6;
  color: white;
  padding: 10px;
}
