.blogs_wrapper {
  background-color: rgb(233, 227, 227);
  width: 100%;
  padding-bottom: 200px;
}

.blogs_header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 450px;
}
.blog_header_content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.blogs_search_wrapper {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 60px 0;
}

.blogs_search_wrapper input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 0 100px;
  font-size: 20px;
  font-weight: 400;
  border: 0;
  background: #ffffff;
  box-shadow: 4px 4px 60px rgba(42, 42, 42, 0.25);
}

.blogs_search_wrapper input:focus {
  outline: 0;
}
.blogs_search_wrapper i {
  position: absolute;
  left: 50px;
  color: #a6a6a6;
  font-size: 28px;
}

.blog_feature_wrapper {
  width: 60%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  color: #2a2a2a;
  position: absolute;
  top: 50%;
}

.blog_feature_heading_para h6 {
  font-size: 16px;
  font-weight: 700;
}
.blog_feature_heading_para h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin: 10px 0;
}

.blog_feature_heading_para p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 10px 0;
  width: 80%;
}
.blog_feature_heading_para button {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  width: 170px;
  height: 50px;
  color: white;
  background-color: #2a2a2a;
  border: 0;
  border-radius: 8px;
}
.blog_feature_heading_para button:hover {
  background-color: white;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

/* header css ends here  */

.blog_items_wrapper {
  margin-top: 300px;
}

.blog_cat_heading_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #a6a6a6;
  color: #c4c4c4;
  margin: 30px 0;
}

.blog_cat_heading_wrapper h1 {
  font-size: 32px;
  font-weight: 700;
}
.blog_cat_heading_wrapper h1:hover {
  font-size: 32px;
  font-weight: 700;
  color: #db022e;
  border-bottom: 2px solid #db022e;
  cursor: pointer;
}
.blog_latest_articles_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.blog_latest_articles_line h1 {
  font-size: 36px;
  font-weight: 700;
  color: #db022e;
}
.line {
  background: gray;
  position: relative;
  height: 4px;
  width: 78%;
}
.line:after {
  content: "";
  background: #db022e;
  width: 25%;
  height: 4px;
  position: absolute;
}

/* cards styling starts from here  */

.latest_articles_cards_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest_articles_large_card_wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 20px 0 0;
}
.article_detail {
  width: 80%;
  height: 50%;
  background: rgba(233, 230, 230, 0.527);
  color: #2a2a2a;
  border-radius: 8px 8px 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article_detail h1 {
  font-size: 33px;
  line-height: 36px;
  font-weight: 700;
  margin: 12px 0;
}
.article_detail p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 12px 0;
}
.article_footer {
  display: flex;
  justify-content: space-between;
  color: #db022e;
}
.article_footer i {
  margin: 0 10px;
}
.latest_articles_small_cards_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.small_card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  height: 230px;
  justify-content: center;
  align-items: flex-end;
  margin: 20px;
  width: 380px;
}

.small_card .article_detail {
  height: 75%;
  width: 85%;
  background-color: #ffffff;
}
.small_card .article_detail h1 {
  font-size: 22px;
  line-height: 26px;
  margin: 15px 0 0 0;
}
.small_card .article_detail p {
  font-size: 12px;
  line-height: 18px;
}

.all_articles_cards_wrapper {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all_articles_card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 530px;
  border-radius: 8px;
  height: 380px;
}

.all_articles_card .article_detail h1 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}
.all_articles_card .article_detail p {
  font-size: 14px;
  line-height: 18px;
}
.all_articles_card .article_detail {
  background-color: rgba(255, 255, 255, 0.907);
}
.all_articles_common_cards_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.common_card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 18px;
}

.common_card img {
  width: 320px;
  height: 300px;
  margin: 10px 0;
  border-radius: 8px;
}
.common_card button {
  height: 58px;
  width: 225px;
  background-color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  color: white;
  margin: 10px 0;
}
.common_card button:hover {
  color: #1a1a1a;
  background-color: white;
  border: 1px solid black;
}
.common_card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

.common_card .article_footer {
  width: 100%;
  justify-content: space-around;
}

/* MEDIA QURIES STARTS HERE  */

@media screen and (max-width: 500px) {

  .blogs_wrapper {
    padding-bottom: 10px;
  }
  .blogs_header_wrapper {
    height: 300px;
    width: 100%;
  }
  .blog_header_content_wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  .blogs_search_wrapper input {
    height: 40px;
    width: 90%;
    border-radius: 8px;
    padding: 0 50px;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    background: #ffffff;
    box-shadow: 4px 4px 60px rgba(42, 42, 42, 0.25);
  }
  .blogs_search_wrapper i {
    position: absolute;
    left: 15px;
    color: #a6a6a6;
    font-size: 24px;
  }

  .blog_feature_wrapper {
    width: 90%;
    padding: 20px;
    color: #2a2a2a;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .blog_feature_heading_para h6 {
    font-size: 14px;
    font-weight: 700;
  }
  .blog_feature_heading_para h1 {
    font-size: 18px;
    line-height: 30px;
  }

  .blog_feature_heading_para p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0;
    width: 100%;
  }
  .blog_feature_heading_para button {
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin: auto;
  }

  /* header css ends here  */

  .blog_items_wrapper {
    margin-top: 200px;
  }
  .blog_cat_heading_wrapper h1 {
    font-size: 18px;
  }
  .blog_cat_heading_wrapper h1:hover {
    font-size: 19px;
  }
  .blog_latest_articles_line h1 {
    font-size: 18px;
  }

  /* cards styling starts from here  */

  .latest_articles_cards_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 750px;
  }

  .latest_articles_large_card_wrapper {
    height: 35%;
    margin: auto;
  }
  .article_detail {
    width: 80%;
    height: 67%;
    padding: 10px;
    justify-content: center;
    padding-top: 10px;
  }

  .article_detail h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
  }
  .article_detail p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .latest_articles_small_cards_wrapper {
    justify-content: center;
    height: 65%;
    margin-top: 20px;
  }
  .small_card {
    height: 230px;
    width: 100%;
  }

  .small_card .article_detail {
    width: 80%;
    padding-top: 10px;
  }
  .small_card .article_detail h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .small_card .article_detail p {
    font-size: 12px;
    line-height: 18px;
  }

  .all_articles_cards_wrapper {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .all_articles_card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
  }

  .all_articles_card .article_detail h1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  .all_articles_card .article_detail p {
    font-size: 12px;
    line-height: 18px;
  }
  .all_articles_common_cards_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .common_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .common_card img {
    width: 90%;
    height: auto;
    margin: 10px 0;
  }
  .common_card button {
    height: auto;
    width: auto;
    font-size: 14px;
    padding: 10px 30px;
  }
  .common_card h3 {
    font-size: 18px;
    line-height: 18px;
    width: 80%;
  }

  .common_card .article_footer {
    width: 100%;
    justify-content: space-around;
  }
}
