.search_wrapper > input {
  width: 900px !important;
  background-color: rgb(233, 227, 227);
}
.card {
  width: 300px;
  background-color: white !important;
  border: 1px solid rgb(219, 214, 214) !important;
}
.card_btn {
  position: absolute;
  bottom: 10px;
  margin: auto;
}
.blogs_search {
  background-color: rgb(233, 227, 227);
}
.mr-5 {
  padding-right: 200px;
}
.blog_feature_wrapper {
  position: relative;
  top: -180px;
}
.blogs {
  background-color: rgb(233, 227, 227);
}
.blogs_search input {
  height: 62px;
  border: 0;
  border-radius: 8px;
  padding: 0 100px;
  margin-top: 100px;
}
.blogs_search input:focus {
  outline: none;
}
.blogs_search i {
  position: absolute;
  font-size: 30px;
  color: #dddada;
  top: 228px;
  left: 245px;
}
.blog_feature_heading_para {
  width: 769px;
  height: 50%;
  border-radius: 8px;
  padding: 80px 150px 80px 80px;
}
.blog_feature_heading {
  font-size: 36px;
  line-height: 50px;
  font-weight: bolder;
}
.blog_feature_para {
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
.blog_feature_heading_para button {
  height: 51px;
  width: 179px;
  border: none;
  outline: none;
}
.blog_feature_heading_para button:hover {
  border: 1px solid black;
  outline: none;
  color: black;
  background-color: white;
}
.blog_items_wrapper {
  background-color: rgb(233, 227, 227);
  padding-bottom: 100px;
  color: #c4c4c4;
}
.blog_cat_headings {
  border-bottom: 2px solid #c4c4c4;
  cursor: pointer;
}
.line {
  background: gray;
  position: relative;
  height: 4px;
  width: 78%;
}
.line:after {
  content: "";
  background: red;
  width: 25%;
  height: 4px;
  position: absolute;
}
.blog_card_detail {
  position: relative;
  top: -42%;
}
.blog_card {
  height: 750px;
}
.blog_card > img {
  height: 700px !important;
}
.blog_card_detail {
  background-color: rgba(78, 75, 75, 0.9);
}
.feature_card {
  height: 750px;
}
.feature_card_items {
  height: 50%;
}
.feature_card_items > img {
  width: 610px;
  height: 300px;
  border-radius: 10px;
}
.feature_card_detail {
  width: 65%;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  top: -230px;
  color: rgb(88, 86, 86);
  padding: 10px;
  border-radius: 10px;
}
.all_articles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.big {
  width: 710px;
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 8px;
}
.article_detail {
  height: 40%;
  width: 75%;
  background-color: #c4c4c4da;
  padding: 30px 30px 20px 30px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  /* align-items: flex-start; */
}
.article_heading {
  font-size: 32px;
  line-height: 46px;
  margin-right: 30px;
}
.article_para {
  font-size: 16px;
  line-height: 33px;
  margin-right: 30px;
}
.article_footer {
  display: flex;
  justify-content: space-between;
  font-size: large;
  color: #db022e;
}
.small-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 700px;
}
.small_item {
  width: 480px;
  height: 320px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.small_item .article_detail {
  height: 70%;
  width: 80%;
  background-color: white;
  padding: 30px 30px 0px 30px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
}
.small_item .article_heading {
  font-size: 24px;
  line-height: 30px;
  color: #4a4a4a;
}
.small_item .article_para {
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
}
.article_ad{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ad{
  height: 50%;
  background-color: grey;
}
.all_articles_wrapper {
  display: flex;
  justify-content: space-between;
}
.all_articles_item {
  width: 48%;
  height: 504px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.all_articles_item .article_detail {
  width: 75%;
  height: 55%;
  background-color: white;
  color: #2a2a2a;
}
.all_articles_item .article_detail .article_heading {
  font-size: 28px;
  line-height: 40px;
}
.all_articles_items_List {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 600px;
}
.all_articles_items_List img {
  /* height: 348px; */
  width: 100%;
}
.all_articles_items_List button {
  height: 58px;
  width: 50%;
  border-radius: 8px;
  background-color: #1a1a1a;
}
.all_articles_items_List h1 {
  font-size: 24px;
  line-height: 35px;
  color: #1a1a1a;
  margin: 0 20px;
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(233, 227, 227);
  }
  .blog_feature_heading_para {
    width: 75%;
    height: fit-content;
    border-radius: 5px;
    padding: 20px;
  }
  .blog_feature_heading {
    font-size: 22px;
    line-height: 20px;
  }
  .blog_feature_para {
    line-height: 18px;
    font-size: 10px;
    font-weight: 400;
  }
  .blog_feature_heading_para button {
    height: 31px;
    width: 100px;
    border: none;
    outline: none;
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) and (min-width: 600px) {
  .blog_feature_heading_para {
    width: 75%;
    height: fit-content;
    border-radius: 5px;
    padding: 20px;
  }
  .blog_feature_heading {
    font-size: 30px;
    line-height: 24px;
  }
  .blog_feature_para {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  .blog_feature_heading_para button {
    height: 41px;
    width: 119px;
    border: none;
    outline: none;
    font-size: 14px;
  }
}
