@font-face {
  font-family: regularGreycliffCf;
  src: url("./greycliff/Fontspring-DEMO-greycliffcf-regular.otf");
}
@font-face {
  font-family: boldGreycliffCf;
  src: url("./greycliff/Fontspring-DEMO-greycliffcf-bold.otf");
}
@font-face {
  font-family: thinGreycliffCf;
  src: url("./greycliff/Fontspring-DEMO-greycliffcf-light.otf");
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "regularGreycliffCf";
  animation: all ease-in-out 0.5s;
}
.schedule_call {
  border-radius: 12px !important;
}
