.course-input {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 30px 50px;
}
.form-heading {
  text-align: center;
  color: white;
  line-height: 30px;
}
.form-para-2,
.form-para-1 {
  color: white;
  text-align: center;
  font-size: 80%;
  line-height: 30px;
}
.form-para-2 {
  margin-top: -20px;
  line-height: 30px;
}
.course-input input {
  background: #db022e;
  border: 1px solid white;
  outline: none;
  color: white;
  padding: 5px;
  width: 30%;
  margin: 7px;
  border-radius: 5px;
}
.course-input input::placeholder {
  color: rgb(204, 198, 198);
  font-size: 60%;
}
.add-more {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  background-color: #db022e;
}
.submit-clear {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.btn-red {
  background-color: #db022e;
  border: 1px solid white;
  color: white;
}
.btn-white {
  background-color: white;
  color: #db022e;
  border: 1px solid #db022e;
}
.btn-white:hover {
  background-color: #db022e;
  border: 1px solid white;
  color: white;
}
.btn-red:hover {
  background-color: white;
  color: #db022e;
  border: 1px solid #db022e;
}
.btn-black {
  background-color: black;
  color: white;
  outline: none;
}
.btn-black:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.course-input input:focus::-webkit-input-placeholder {
  font-size: .75em;
  position: relative;
  top: -15px; 
  transition: 0.2s ease-out;
}

.course-input input::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}

.course-input input[type="text"]:focus {
  height: 40px;
  padding-bottom: 0px;
  transition: 0.2s ease-in;
}

.course-input input[type="text"] {
  height: 40px;
  transition: 0.2s ease-in;
}

